body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 80%;
  background-color: skyblue;
}

header {
  background-color: #4caf50;
  margin: 0 auto;
  height: 50px;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: #4caf50;
}

canvas {
  width:100%;
  height:80%;
  z-index:-2;
}
.submit
{
  background:#eb94d0;
  background-image: linear-gradient(to bottom, #eb94d0, #2079b0);
  border-radius: 28px;
  text-shadow: 3px 2px 1px #9daef5;
  box-shadow: 6px 5px 24px #666666;
  color: #fafafa;
  font-family: pixelFont;
  font-size: 27px;
  padding: 19px; 
}

.submit:hover
{
  background: #2079b0;
  background-image: linear-gradient(to bottom, #2079b0, #eb94d0);

}

h3
{
  color: rgb(253, 175, 6);
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 10px darkblue;
}

@font-face
{
  font-family: pixelFont;
  src: url("assets/texts/alagard_by_pix3m-d6awiwp.ttf")
}
.container {
  position: absolute;
  top: 15%;
  width: 100%;
  height: 70%;
  display: table;
  text-align: center;
  padding: 1rem;
  font-size: 50px;
  font-family: pixelFont;
  background-image: url("assets/background/Grassy_Mountains_preview_fullcolor.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  /* object-fit: contain; */
  z-index: 1;
  opacity: .8;
}



